<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- Adding this attribute:
//
//   useLegacyV2RuntimeActivationPolicy="true"
//
// was necessary in order for DirectSound components to be loaded when
// instantiating tqMgrSound. See this question for details:
//
//   https://stackoverflow.com/questions/6425707/mixed-mode-assembly-is-built-against-version-v2-0-50727-of-the-runtime
-->
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
